<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="T1_DB" value="DATA_SC_T1"/>
    <add key="T2_DB" value="DATA_SC"/>
    <add key="TempDB" value ="QA_VAL_1"/>
    <add key="OutputDirectory" value ="C:\Documents and Settings\V302138\My Documents\T1\SC\Queries"/>
    <add key="TablePrefix" value="DPM_"/>
    <add key="InitDir" value="C:\Documents and Settings\V302138\My Documents\T1\SC\SelectStatements"/>
    <add key="StartDate" value ="VER_START_DAY_KEY"/>
    <add key="EndDate" value ="VER_END_DAY_KEY"/>
  </appSettings>
</configuration>