<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Source1Prefix" value="#SRC1_"/>
    <add key="Source2Prefix" value="#SRC2_"/>
    <add key="OutputDirectory" value ="C:\Users\Doug\Documents"/>
    <add key="TempTablePrefix" value="#DPM_"/>
    <add key="InitDir" value="C:\Users\Doug\Documents"/>
  </appSettings>
</configuration>